:root{
    --primary: #3730a3;
    --info: #4286f4;
    --danger: #dc3545;
    --warning: #ffc107;
    --dark: #343a40;
    --slate: #f8fafc; 
    --indigo: #6366f1;
    --gray: #9ca3af;
    --dark-gray: #373B44;
}